@model Recipes

<div class="row align-items-center justify-content-center">
    <div class="col-12 col-md-5">
        <img class="card-border-rounded shadow" src="@Model.Meals[0].strMealThumb" width="100%">
         
        @if(@Model.Meals[0].strYoutube != ""){
            <div class="text-center">
                 <a class="btn btn-danger button-border-rounded mt-3" href="@Model.Meals[0].strYoutube" target="_blank">
                    See a Video <img class="" src="~/svg/play.png" width="20">            
                </a>    
            </div>

            
        }
        
        <h2 class="text-center mt-3">@Model.Meals[0].strMeal</h2>     
    </div>
   
    
</div>

<div class="row">
    <div class="col-12">
        <h4>Instructions:</h4>
        <p>@Model.Meals[0].strInstructions</p>
    </div>   
</div>
